{
  "presets": [
    [
      "react-app",
      {
        "typescript": true
      }
    ],
    [
      "@babel/preset-env",
      {
        "bugfixes": true, //TODO: babel 8 will have this true by default
        "useBuiltIns": "usage",
        "corejs": 3,
        "modules": false,
        "loose": true
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ]
}
