{
  "extends": [
    "eslint:recommended",
    "react-app",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "webextensions": true,
    "serviceworker": true,
    "node": true
  },
  "globals": {
    "chrome": false,
    "__PROD__": false,
    "HOST_NAME": false,
    "React": false
  },
  "rules": {
    "no-undef": "error",
    "eol-last": ["error", "always"],
    "no-trailing-spaces": "error",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/ban-types": [
      "error",
      {
        "types": {
          "Function": false
        },
        "extendDefaults": true
      }
    ]
  }
}
