**/node_modules
.vercel/
**/.DS_Store
**/.turbo
**/.env
.playwright/
**/tsconfig*.tsbuildinfo
apps/web/.next/
apps/web/next-env.d.ts
apps/extension/.output/
apps/extension/.output-coverage/
apps/extension/.wxt/
.claude/settings.json
