**/node_modules
.vercel/
**/.DS_Store
**/.turbo
**/.env
test-results/
playwright-report/
**/tsconfig*.tsbuildinfo
apps/web/.next/
apps/extension/build/
apps/extension/.output/
apps/extension/.wxt/
apps/extension/dev/
apps/extension/help/
.cache/
