.container {
  display: flex;
  flex-direction: column;
}

.innerContainer {
  flex: 1;
}

.orderBySwitch {
  --switch-height: 28px !important;
}

.orderBySwitchLabelWrapper {
  display: block;

  @mixin smaller-than $mantine-breakpoint-sm {
    display: none;
  }
}
