@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,400;1,500;1,600;1,700&display=swap");

body {
  > * {
    background: #131b21;
  }
}

::-webkit-scrollbar-track-piece {
  background-color: #2f3136;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #202225;
  border-radius: 5px;
  border-top: solid;
  border-bottom: solid;
  border-color: #36393f;
}
::-webkit-scrollbar-corner {
  background-color: #2f3136;
}
::-webkit-scrollbar-button {
  display: none;
  background-color: #000;
}
::-webkit-scrollbar {
  width: 12px;
  height: 3px;
}
::-webkit-resizer {
  background-color: #666;
}

::selection {
  background: #6850ff;
}
