@import "../../scss/color.scss";

.bookmarkRowContainer {
  &:hover,
  &[data-is-selected="true"] {
    background-color: $grey-color;
    border-radius: 20px;
  }
  &[data-is-selected="true"] {
    background-color: rgba(63, 81, 181, 0.4);
    &:hover {
      background-color: rgba(63, 81, 181, 0.6);
    }
  }
}

.react-ripples {
  width: 100%;
  height: 100%;
}
