.infoContainer {
  margin-top: 10px;

  @mixin smaller-than $mantine-breakpoint-sm {
    margin-top: 0;
  }
}

.iconContainer {
  width: 24px;
  height: 24px;

  @mixin smaller-than $mantine-breakpoint-sm {
    width: 20px;
    height: 20px;
  }
}

.footerContainer {
  height: 300px;

  @mixin smaller-than $mantine-breakpoint-sm {
    height: 130px;
  }
}

.footerBody {
  padding: 0 200px;
  bottom: 7%;

  @mixin smaller-than $mantine-breakpoint-sm {
    padding: 0 20px;
    bottom: 0;
  }
}

.image {
  height: inherit;
  width: inherit;
}
