.bookmarkRow {
  box-sizing: border-box;
  border-radius: var(--mantine-radius-sm);

  @mixin hover {
    background-color: var(--mantine-color-gray-8);
  }
}

.bookmarkRow[data-is-selected='true'] {
  /* border: var(--mantine-color-violet-6) 2px solid; */
  background-color: var(--mantine-color-violet-7);
  border-radius: var(--mantine-radius-sm);

  @mixin hover {
    background-color: var(--mantine-color-violet-9);
  }
}
