.bookmarkRow {
  box-sizing: border-box;
  border-radius: var(--mantine-radius-sm);

  @mixin hover {
    background-color: var(--mantine-color-gray-8);
  }
}

.bookmarkRow[data-is-selected='true'] {
  background-color: var(--mantine-color-violet-7);
  border-radius: var(--mantine-radius-sm);

  @mixin hover {
    background-color: var(--mantine-color-violet-9);
  }
}

.bookmarkRow[data-is-cut='true'] {
  border: 1px solid var(--mantine-color-violet-2);
  border-style: dotted;
  opacity: 0.5;
}
