.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--mantine-color-dark-9);

  @mixin hover {
    opacity: 0.7;
  }
}

.image {
  flex: 1;
}

.name {
  flex: 1;
}
