html,
body {
  height: auto !important;
}

::-webkit-scrollbar {
  width: var(--mantine-spacing-sm);
  background-color: var(--mantine-color-dark-6);
}

::-webkit-scrollbar-thumb {
  background-color: var(--mantine-color-dark-3);
  border-width: 3px;
  border-style: solid;
  border-color: var(--mantine-color-dark-6);
  border-radius: var(--mantine-radius-md);
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: var(--mantine-color-dark-6);
}
