.heading {
  user-select: none;
  cursor: pointer;
}

.buttonsContainer {
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px 8px;
  margin-top: 16px;

  > * {
    width: 47.5%;
  }
}
