@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.bookmarkRowContainer {
  &:hover {
    background-color: #ffffff14;
  }
  > .react-ripples {
    width: 100%;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0px !important;
}

// Custom scroll bar styles
::-webkit-scrollbar {
  width: 8px;
}

.iconLoading {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
