@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

$grey-color: #ffffff14;
$dark-color: #272c34;
$black-color: #121212;

.bookmarkRowContainer {
  border: 2px solid transparent;
  &:hover,
  &[data-is-selected="true"] {
    background-color: $grey-color;
    border-radius: 20px;
  }
  &[data-is-selected="true"] {
    border-color: #3f51b5;
  }
  // Select all selected adjacent siblings to collapse adjacent borders
  &[data-is-selected="true"] + &[data-is-selected="true"] {
    border-top-color: transparent;
  }
  > .react-ripples {
    width: 100%;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0px !important;
}

// Custom scroll bar styles
::-webkit-scrollbar {
  width: 8px;
}

.iconLoading {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes blink-bookmark {
  0% {
    background-color: $black-color;
  }
  50% {
    background-color: $grey-color;
  }
  100% {
    background-color: $black-color;
  }
}
