name: Build CI
on:
  push:
    branches-ignore:
      - 'main'
      - 'renovate/**'

jobs:
  Build:
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setting up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Pull environment variables
        run: pnpm vercel env pull .env --yes --environment=preview --token=${{ secrets.VERCEL_TOKEN }}

      - name: Building
        run: pnpm build

      - name: List output directory
        run: find . -name "*.zip" 2>/dev/null || echo "No zip files found"

      - run: ls -la ./apps/extension/.output/

      - name: Upload Chrome extension
        uses: actions/upload-artifact@v6
        with:
          name: chrome-extension-file
          path: ./apps/extension/.output
          include-hidden-files: true
