name: Firebase Backup Cron Job
on:
  schedule:
    # Every day at 6 AM UTC
    - cron: '0 6 * * *'
jobs:
  cron:
    runs-on: ubuntu-latest
    steps:
      - name: Invoking cron job API
        run: |
          curl -f -s -X POST \
            -H "Authorization: Bearer ${{ secrets.FIREBASE_CRON_JOB_API_KEY }}" \
            'https://bypass-links.vercel.app/api/backup' | grep -q 'Firebase backup successful'
