{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:jest/recommended",
    "plugin:prettier/recommended",
    "next",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["jest"],
  "env": {
    "es6": true,
    "node": true,
    "commonjs": true,
    "browser": true,
    "webextensions": true,
    "serviceworker": true,
    "jest/globals": true
  },
  "parserOptions": {
    "ecmaVersion": 11
  },
  "globals": {
    "__SERVER__": false,
    "__PROD__": false,
    "__EXT_VERSION__": false,
    "__RELEASE_DATE__": false,
    "HOST_NAME": false,
    "JSX": false,
    "React": false
  },
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/ban-types": [
      "error",
      {
        "types": {
          "Function": false
        },
        "extendDefaults": true
      }
    ]
  }
}
